source https://api.nuget.org/v3/index.json


nuget FSharp.Compiler.Tools 
nuget FSharp.Core 
nuget FSharp.Formatting
nuget Microsoft.Powerplatform.Cds.Client 0.2.24-alpha Alpha
nuget NUnit 
nuget NUnit.Runners
nuget SourceLink.Fake
nuget System.Configuration.ConfigurationManager
nuget System.IO.FileSystem.AccessControl 
nuget System.Security.Cryptography.ProtectedData

github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs

group Fake
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    nuget FAKE
    nuget Fake.IO.FileSystem
    nuget Octokit